/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

/*****************************************************
* 	selector {
*  		property: value;
* 	}
 *****************************************************/


html, body {
	margin: 0;
	box-sizing: border-box;
}

header {
	/* margin: top, right, bottom, left */
	/*margin: 1em 0em 1em 0em; */
	background-color: #333333;
}
h1 {
	color: #00ff00;
}

/*  th is table header
	td is table data
	tr is table row */
th {
	text-align: left;
	background-color: #333333;
	color: #00ff00;
}
td, th {
	border: 1px solid #ddd;
	background-color: #333333;
	color: #00ff00;
}
table {
	margin-left: auto;
	margin-right: auto;
	width: 85%;

}
em {
	font-family: Lucida Sans Typewriter;
	color: rgb(3, 235, 8);
	position: absolute;
	top: 65px;
	left: 23em;
	width: 500px;
	height: 100px;
}
img[alt*="welcome to my homepage"]{
	margin-left: 15em;
}
img[alt*="captain picard"]{
	/* margin: top, right, bottom, left */
	float: left;
	width: 160px;
	height: 160px;
	position: relative;
	top: 5px;
	left: -25px;
	border: 1px	solid #dddddd;
}

.instructions-wrapper {
	display: inline-block;
	border-style: solid;
	height: 10em;
	width: 70em;
	letter-spacing: 1.5px;


}
.about-me{
	border: 1px solid #ddd;
	background-color: blue;
	color: #dddddd;

}
span{
	color:yellow;
	font-style:italic;
}
.instructions-content > h2 {
	padding-left: 1em;
}

.instructions-wrapper > img[alt*="captain janeway"] {
	float: right;
	width: 125px;
	height: 125px;
	position: relative;
	top: -125px;
	left: -25px;
}

.container {
	margin: auto;
	padding: 2rem;

}

.instructions-content > li {
	width: 100px;
}

.form-wrapper{
	background-color: green;

	color: #00ff00;
	border: 5em solid #333333;
	margin-top: 0em;
	margin-right: -5em;
	margin-bottom: -6em;
	margin-left: -5em;


}
button{
	background-color: #00ff00;
}
label{
	display: block;

}
.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

footer {

}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
h4{
	background-color: black;
	background-size: 100px;
	color: white;
	text-align: center;




}

.sfooter-content {
	flex: 10 auto;
}


/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



