/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/

/*****************************************************
* 	selector {
*  		property: value;
* 	}
 *****************************************************/


html, body {
	margin: 0;
	box-sizing: border-box;
}

header {
	/* margin: top, right, bottom, left */
	/*margin: 1em 0em 1em 0em; */
	background-color: #333333;
}
h1 {
	color: #03eb08;
}
em {
	color: #03eb08;
}
img {
	/* margin: top, right, bottom, left */
	margin: 1em 10em 1em 15em;
}
.container {
	margin:  auto;
	padding:  2rem;
}

.clearfix {
	clear: both;
}

.instructions-wrapper {
	border-style: solid;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/



